<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method = "POST" th:action="@{/admin}" th:object="${user}">
    <div class = "form-group">
    <label for="name">Enter name: </label>
    <input type="text" th:field = "*{Name}" id="name" >
    </div>
    <div class = "form-group">
    <label for="surname">Enter surname: </label>
    <input type="text" th:field = "*{Surname}" id="surname" >
    </div>
    <div class = "form-group">
    <label for="departament">Enter departament: </label>
    <input type="text" th:field = "*{Departament}" id="departament" >
    </div>
    <div class = "form-group">
    <label for="salary">Enter salary: </label>
    <input type="text" th:field = "*{Salary}" id="salary" >
    </div>
    <input type="submit" value="Add user"/>

</form>

</body>
</html>