<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
</head>
<body id="body">

<nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1" id = "userDetail">
            </span>

    <form class="form-inline" th:action="@{/logout}" form-method="post">
        <button class="btn btn-outline-secondary" type="submit">Logout</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-9 bg-light">
            <br>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">

                    <h1><strong>Admin panel</strong></h1>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <div class="card text">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                <div class="card-header">
                                    <h2>All users</h2>
                                </div>
                                <div class="card-body">

                                    <table class="table table-striped bg-white">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Surname</th>
                                            <th scope="col">Departament</th>
                                            <th scope="col">Salary</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Password</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id = "myTable">
                                        </tbody>
                                    </table>
                                    <div id = "modalWindows"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="card-header">
                                    <h2>New user</h2>
                                </div>

                                <div class="row">
                                    <div class="col-md">
                                    </div>
                                    <div class="col-md">
                                        <br>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="nameNew"><strong> Enter name: </strong> </label>
                                                </p>
                                                <input type="text" class="form-control"  id="nameNew"
                                                       placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="surnameNew" class="text-center"><strong>Enter
                                                        surname: </strong></label>
                                                </p>
                                                <input type="text" class="form-control"
                                                       id="surnameNew" placeholder="Surname">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="departamentNew"><strong>Enter departament:</strong>
                                                    </label>
                                                </p>
                                                <input type="text" class="form-control"
                                                       id="departamentNew" placeholder="Departament">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="salaryNew"><strong>Enter salary:</strong> </label>
                                                </p>
                                                <input type="number" class="form-control"
                                                       id="salaryNew" placeholder="Salary">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="usernameNew"><strong>Enter username:</strong> </label>
                                                </p>
                                                <input type="text" class="form-control"
                                                       id="usernameNew" placeholder="Username">
                                            </div>
                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="passwordNew"><strong>Enter password:</strong> </label>
                                                </p>
                                                <input type="text" class="form-control"
                                                       id="passwordNew" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <p class="text-center">
                                                    <label for="RolesNew"><strong>Choose role:</strong></label>
                                                </p>
                                                <select multiple class="custom-select" size="2" id="RolesNew"
                                                        name="roles">
                                                    <option value="2">ROLE_ADMIN</option>
                                                    <option value="1">ROLE_USER</option>
                                                </select>
                                            </div>

                                            <p class="text-center">
                                                <button onclick="newUser()" type="submit" class="btn btn-success btn-lg">Create new user
                                                </button>
                                            </p>
                                        </form>
                                        <br>
                                    </div>
                                    <div class="col-md">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">
                    <h1><strong>User-information page</strong></h1>
                    <div class="card text">
                        <div class="card-header">
                            <h2>About user</h2>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Surname</th>
                                    <th scope="col">Departament</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody id = "userTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="table.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>